<div id="remove_week_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:400px">
		<div class="modal-content">

			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Вы действительно хотите удалить неделю?</h4>
			</div>

			<div class="modal-footer">
				<button type="button" id="remove_week_ok_modal_btn" class="btn btn-primary">Удалить</button>
				<button type="button" id="remove_week_cancel_modal_btn" class="btn btn-default">Отмена</button>
			</div>

		</div>
	</div>
</div>
