<button id="main_menu_button" class="btn btn-success">
	<%= link_to "Главная", root_path %>
</button>

<br/><br/>

<button id="traders_menu_button" class="btn btn-success">
	<%= link_to "Управл", traders_path %>
</button>

<br/><br/>

<button id="portfolios_menu_button" class="btn btn-success">
	<%= link_to "Портфели", portfolios_path %>
</button>
